extends includes/layout

block content
  h1 ¿Es compatible el #{smartphone.fullName} en la operadora #{operator.name}?
  img.img-fluid(src=operator.urlLogo alt='logo' style='width:150px;background:white')
  
  h2 Frecuencias
  each generation in generations
    p #{generation.name}
    each frequency in generation.frequencies
      p #{frequency.name}
      if (frequency.operatorCompat == 1 && frequency.smartphoneCompat == 1)
        p Ambos son compatibles
      else if (frequency.operatorCompat == 0 && frequency.smartphoneCompat == 1)
        p El #{smartphone.fullName} es compatible pero la operadora #{operator.name} no.
  
  h2 Tecnologías
  each technology in technologies
    p #{technology.name}
    if (technology.operatorCompat == 1 && technology.smartphoneCompat == 1)
      p Ambos son compatibles
    else if (technology.operatorCompat == 0 && technology.smartphoneCompat == 1)
      p El #{smartphone.fullName} es compatible pero la operadora #{operator.name} no.
    else if (technology.operatorCompat == 1 && technology.smartphoneCompat == 0)
      p El #{smartphone.fullName} no es compatible pero la operadora #{operator.name} sí.
    else
      p Ni el #{smartphone.fullName} ni la operadora #{operator.name} son compatibles.
  
  .container
  .row
    .col-lg-2.col-md-2.col-sm-4.cl-xs-12
      h4
        a(href='#col1Content', data-toggle='collapse') Column1
      #col1Content.collapse.in
        | texto
  .row
    .col-lg-2.col-md-2.col-sm-4.cl-xs-12
      h4
        a(href='#col2Content', data-toggle='collapse') Column1
      #col2Content.collapse.in
        | texto
  .row
    .col-lg-2.col-md-2.col-sm-4.cl-xs-12
      h4
        a(href='#col3Content', data-toggle='collapse') Column1
      #col3Content.collapse.in
        | texto
    
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
