extends includes/layout

block content
  h1 ¿Es compatible el #{smartphone.fullName} en la operadora #{operator.name}?
  img.img-fluid(src=operator.urlLogo alt='logo' style='width:150px;background:white')
  
  .row.justify-content-md-center
    .col-md-3
      h3.text-center #{smartphone.fullName}
    .col-md-5
      #accordionExample.accordion.col-md-1
      .row.justify-content-sm-center
        .col-md  
          .card
            #headingOne.card-header
              h2.mb-0
                button.btn.btn-link.btn-block.text-left.collapsed(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                  | #1
            #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordionExample')
              .card-body
                | Info.
      .row.justify-content-sm-center
        .col-md
          .card
            #headingTwo.card-header
              h2.mb-0
                button.btn.btn-link.btn-block.text-left.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                  | #2
            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
              .card-body
                | Info.
      .row.justify-content-sm-center
        .col-md
          .card
            #headingThree.card-header
              h2.mb-0
                button.btn.btn-link.btn-block.text-left.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                  | #3
            #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
              .card-body
                |  Info.
    .col-md-3
      h3.text-center #{operator.name}
      form
        .form-group
          label Verifica en otra operadora:
          select.form-control(name='operator')
            each operator in operators
              option(value=operator.id) #{operator.name}
        button.btn.btn-primary(type='submit') Verifica


  h2 Frecuencias
  each generation in generations
    p #{generation.name}
    each frequency in generation.frequencies
      p #{frequency.name}
      if (frequency.operatorCompat == 1 && frequency.smartphoneCompat == 1)
        p Ambos son compatibles
      else if (frequency.operatorCompat == 0 && frequency.smartphoneCompat == 1)
        p El #{smartphone.fullName} es compatible pero la operadora #{operator.name} no.
  
  h2 Tecnologías
  each technology in technologies
    p #{technology.name}
    if (technology.operatorCompat == 1 && technology.smartphoneCompat == 1)
      p Ambos son compatibles
    else if (technology.operatorCompat == 0 && technology.smartphoneCompat == 1)
      p El #{smartphone.fullName} es compatible pero la operadora #{operator.name} no.
    else if (technology.operatorCompat == 1 && technology.smartphoneCompat == 0)
      p El #{smartphone.fullName} no es compatible pero la operadora #{operator.name} sí.
    else
      p Ni el #{smartphone.fullName} ni la operadora #{operator.name} son compatibles.
  
  