extends includes/layout

block content
  .container-fluid
    .row.justify-content-md-center.mt-2.mb-2
      .col.col-md-auto
        h2.text-center ¿Es compatible el #{smartphone.fullName} en la operadora #{operator.name}?
    .row.mt-3.justify-content-md-center
      .col-md-2.mt-3
        .card
          if (!smartphone.imageUrl)
            img.card-img-top.p-2.w-50.align-self-center(src="https://static.bnds.cl/smartphones/noimg.png")
          else
            img.card-img-top.p-2.w-50.align-self-center(src=smartphone.imageUrl)
          .card-body.text-center
            p
              h5.text-center #{smartphone.fullName}
            p
              if smartphone.reviewUrl
                a.btn.btn-primary(href=smartphone.reviewUrl) Leer review
      .col-md-3.mt-3
        h3 Frecuencias
        #accordionGen.accordion.accordion-flush
          each generation in generations
            - hasCompat = false
            - hasIncompat = false
            - hasUnknown = false
            if generation.frequencies[0]
              each frequency in generation.frequencies
                if frequency.operatorCompat != 0
                  if frequency.operatorCompat == 0 || frequency.smartphoneCompat == 0
                    - hasIncompat = true
                  if frequency.operatorCompat == 2 || frequency.smartphoneCompat == 2
                    - hasUnknown = true
                  if frequency.operatorCompat == 1 && frequency.smartphoneCompat == 1
                    - hasCompat = true
                if hasCompat == true
                  - accordionClass = 'accordion-success'
                  - accordionIcon = 'fas fa-check-circle'
                else if hasIncompat == true
                  - accordionClass = 'accordion-danger'
                  - accordionIcon = 'fas fa-times-circle'
                if hasCompat == true && hasIncompat == true
                  - accordionClass = 'accordion-warning'
                  - accordionIcon = 'fas fa-exclamation-circle'
                if hasUnknown == true
                  - accordionClass = 'accordion-secondary'
                  - accordionIcon = 'fas fa-question-circle'
            else
              - accordionClass = 'accordion-secondary'
              - accordionIcon = 'fas fa-question-circle'
            .accordion-item
              .accordion-header(id='heading'+generation.name)
                h2.mb-0
                  button.accordion-button.collapsed(class=accordionClass type='button', data-bs-toggle='collapse', data-bs-target='#collapse'+generation.name, aria-expanded='true', aria-controls='collapse'+generation.name) 
                    i.me-2(class=accordionIcon)
                    | Compatibilidad en #{generation.name}
              .accordion-collapse.collapse(id='collapse'+generation.name aria-labelledby='heading'+generation.name, data-bs-parent='#accordionGen')
                .accordion-body
                  if generation.frequencies[0]
                    table.table.text-center
                      thead
                        tr
                          th(scope='col') Frecuencia
                          th(scope='col') #{operator.name}
                          th(scope='col') #{smartphone.model}
                      tbody
                        each frequency in generation.frequencies
                          if frequency.operatorCompat != 0
                            tr
                              if frequency.operatorCompat == 0 || frequency.smartphoneCompat == 0
                                - rowClass = 'table-danger'
                              if frequency.operatorCompat == 2 || frequency.smartphoneCompat == 2
                                - rowClass = 'table-secondary'
                              if frequency.operatorCompat == 1 && frequency.smartphoneCompat == 1
                                - rowClass = 'table-success'
                              th(scope='row' class=rowClass) 
                                | #{frequency.name}
                                if frequency.roaming == 1
                                  br
                                  small
                                    | Roaming: 
                                    each roamingProvider in frequency.roamingProviders
                                      b  #{roamingProvider.name}
                              td(class=rowClass)
                                if frequency.operatorCompat == 1
                                  i.fas.fa-check
                                else if frequency.operatorCompat == 0
                                  i.fas.fa-times
                                else if frequency.operatorCompat == 2
                                  i.fas.fa-question
                              td(class=rowClass)
                                if frequency.smartphoneCompat == 1
                                  i.fas.fa-check
                                else if frequency.smartphoneCompat == 0
                                  i.fas.fa-times
                                else if frequency.smartphoneCompat == 2
                                  i.fas.fa-question
                  else
                    p Todavía no se han licitado las frecuencias 5G.
                    a.btn.btn-primary(href='https://pisapapeles.net/subtel-da-a-conocer-las-empresas-que-postularon-a-la-licitacion-de-5g/') Más información
        hr
        h3.mt-3 Tecnologías
        #accordionTech.accordion.accordion-flush.mt-2
          each technology in technologies
            if technology.operatorCompat == 0 || technology.smartphoneCompat == 0
              - rowClass = 'table-danger'
              - accordionClass = 'accordion-danger'
              - accordionIcon = 'fas fa-times-circle'
            if technology.operatorCompat == 2 || technology.smartphoneCompat == 2
              - rowClass = 'table-secondary'
              - accordionClass = 'accordion-secondary'
              - accordionIcon = 'fas fa-question-circle'
            if technology.operatorCompat == 1 && technology.smartphoneCompat == 1
              - rowClass = 'table-success'
              - accordionClass = 'accordion-success'
              - accordionIcon = 'fas fa-check-circle'
            .accordion-item
              .accordion-header(id='heading'+technology.id)
                h2.mb-0
                  button.accordion-button.collapsed(class=accordionClass type='button', data-bs-toggle='collapse', data-bs-target='#collapse'+technology.id, aria-expanded='true', aria-controls='collapse'+technology.id)
                    i.me-2(class=accordionIcon)
                    | #{technology.name}
              .accordion-collapse.collapse(id='collapse'+technology.id aria-labelledby='heading'+technology.id, data-bs-parent='#accordionTech')
                .accordion-body
                  table.table.text-center
                    thead
                      tr
                        th(scope='col') #{operator.name}
                        th(scope='col') #{smartphone.model}
                    tbody
                      tr
                        td(class=rowClass)
                          if technology.operatorCompat == 1
                            i.fas.fa-check
                          else if technology.operatorCompat == 0
                            i.fas.fa-times
                          else if technology.operatorCompat == 2
                            i.fas.fa-question
                        td(class=rowClass)
                          if technology.smartphoneCompat == 1
                            i.fas.fa-check
                          else if technology.smartphoneCompat == 0
                            i.fas.fa-times
                          else if technology.smartphoneCompat == 2
                            i.fas.fa-question
                  if technology.name == "SAE" && technology.smartphoneCompat == 1
                    .div
                      p Las variantes vendidas oficialmente en Chile sí son compatibles con SAE. De todas formas, esa misma variante puede ser comercializada fuera de Chile y, al importarla, no tendrá compatibilidad con SAE. Favor verifica en la caja del teléfono que tenga el siguiente sticker para verificar compatibilidad:
                      img.align-self-center.p-2.w-50(src="http://www.sae.gob.cl/src/images/SAE-LOGO.png")
      .col-md-2.mt-3
        .card
          img.card-img-top.p-2.w-50.align-self-center(src=operator.urlLogo)
          .card-body.text-center
            p
              h5.text-center #{operator.name}
            p
              a.btn.btn-primary(href=operator.urlWeb) Ir a la página web
            form#repeatForm(action='/resultado' method='POST' enctype='application/x-www-form-urlencoded')
              input(type='hidden' name='smartphone' value=smartphone.fullName)
              .g-recaptcha(data-sitekey=sitekey data-callback='onCompleted' data-size='invisible')
              .form-group
                label Verifica en otra operadora:
                select.form-control(name='operator')
                  each operator in operators
                    option(value=operator.id) #{operator.name}
              button.btn.btn-primary.mt-2(type='submit') Verifica
      div.text-center.text-black-50.my-3
        | ¿Encontraste algún error? 
        a(href='https://twitter.com/bndscl')
          | ¡Avísanos!
          i.fab.fa-twitter.ms-2
  script(src='https://www.google.com/recaptcha/api.js?render='+sitekey)
  script(src='/javascripts/result.js')
