extends ../../includes/layout

block content
  
  .container
    .row.mt-4
      .col
        .h2
          i.fas.fa-mobile.me-2
          | Teléfono: 
          #fullName.d-inline
    form#addPhoneForm(method='POST' enctype='multipart/form-data' action='/admin/smartphones/add')
      .row.justify-content-md-center.mt-4
        .col-md-4
          label.form-label(for='brand') Marca
          input.form-control#brand(type='text' placeholder='Samsung' aria-label='Marca' name='brand' required)
        .col-md-4
          label.form-label(for='model') Modelo
          input.form-control#model(type='text' placeholder='Galaxy S20 Plus' aria-label='Modelo' name='model' required)
        .col-md-4
          label.form-label(for='variant') Variante
          input.form-control#variant(type='text' placeholder='SM-321' aria-label='Variante' name='variant' required)
        .col-md-4
          label.form-label(for='imageUpload') Imágen
          input.form-control#imageUpload(type='file' name='imageUpload' accept="image/jpeg, image/png")
        .col-md-4
          label.form-label(for='reviewUrl') URL Review
          input.form-control#reviewUrl(type='text' placeholder='https://pisapapeles.net/review-asdf' aria-label='URL Review' name='reviewUrl')
      .row.justify-content-md-center.mt-4
        hr
        .col-md-12
          h2 
            i.fas.fa-signal.me-2
            | Frecuencias:
          .row
            each generation in generations
              .col-md-3.col-sm-4.col-xs-12
                .card
                  .card-header 
                    h5 #{generation.name}
                  .card-body
                    each frequency in generation.frequencies
                      input(type='hidden' name='frequency['+frequency.id+'][id]' value=frequency.id)
                      .card.mb-3.bg-light(style="transition: all ease-in-out 0.1s")
                        .card-header.bg-secondary.text-white(style="transition: all ease-in-out 0.1s") #{frequency.name}
                        .card-body
                          .form-check
                            input.form-check-input(type='radio' name='frequency['+frequency.id+'][status]' value='true' id='freqTrue['+frequency.id+']' required)
                            label.form-check-label(for='frequency['+frequency.id+']')
                              i.fas.fa-check.me-1
                              | Sí
                          .form-check
                            input.form-check-input(type='radio' name='frequency['+frequency.id+'][status]' value='false' id='freqFalse['+frequency.id+']' required)
                            label.form-check-label(for='frequency['+frequency.id+']')
                              i.fas.fa-times.me-2
                              | No
                          .form-check
                            input.form-check-input(type='radio' name='frequency['+frequency.id+'][status]' value='unknown' id='freqUnknown['+frequency.id+']' required)
                            label.form-check-label(for='frequency['+frequency.id+']')
                              i.fas.fa-question.me-2
                              | No sé
        
      .row.justify-content-md-center.mt-4
        hr
        .col-md-12
          h2
            i.fas.fa-cogs.me-2
            | Tecnologías:
          .row
            each technology in technologies
              input(type='hidden' name='technology['+technology.id+'][id]' value=technology.id)
              .col-md-3.col-sm-4.col-xs-12
                .card.mb-3.bg-light(style="transition: all ease-in-out 0.1s")
                  .card-header.bg-secondary.text-white(style="transition: all ease-in-out 0.1s")
                    h5 #{technology.name}
                  .card-body
                    .form-check
                      input.form-check-input(type='radio' name='technology['+technology.id+'][status]' value='true' id='techTrue['+technology.id+']' required)
                      label.form-check-label(for='technology['+technology.id+']')
                        i.fas.fa-check.me-1
                        | Sí
                    .form-check
                      input.form-check-input(type='radio' name='technology['+technology.id+'][status]' value='false' id='techFalse['+technology.id+']' required)
                      label.form-check-label(for='technology['+technology.id+']')
                        i.fas.fa-times.me-2
                        | No
                    .form-check
                      input.form-check-input(type='radio' name='technology['+technology.id+'][status]' value='unknown' id='techUnknown['+technology.id+']' required)
                      label.form-check-label(for='technology['+technology.id+']')
                        i.fas.fa-question.me-2
                        | No sé
      .row.justify-content-md-center.mt-4.mb-4
        .col.text-center
          button.btn.btn-primary(type='submit') Agregar
  script(src="/javascripts/addphone-admin.js")
