extends ../../includes/layout

block content
  .container
    .row
      .col-md-12
        if (message)
          .alert.alert-dismissible.fade.show(role="alert" class="alert-"+message.type)
            | #{message.message}
            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
      .col-md-12.text-center
        h2 Listado de smartphones
    .row.justify-content-md-center
      .col-md-3.text-center
          a.btn.btn-outline-primary.mx-1(href="/admin") Volver
          a.btn.btn-outline-success.mx-1(href='/admin/smartphones/add' role='button') Agregar
    .row.mt-3
      .col
        table.table
          thead
            tr
              th(scope='col') ID
              th(scope='col') Marca
              th(scope='col') Modelo
              th(scope='col') Variante
              th(scope='col') Visibilidad
              th(scope='col') Menu
          tbody
            each smartphone in smartphones
              if smartphone.visible == 0
                - tclass="table-dark"
              else
                - tclass=""
              tr(class=tclass)
                th(scope='row') #{smartphone.id}
                td #{smartphone.brand}
                td #{smartphone.model}
                td #{smartphone.variant}
                td
                  if smartphone.visible == 0
                    |Oculto
                  else
                    |Visible
                td 
                  a.btn.btn-outline-primary.mx-1(href='/admin/smartphones/edit/'+smartphone.id role='button') Editar
                  button.btn.btn-outline-danger.mx-1(type='button' data-bs-toggle='modal' data-bs-target='#deleteModal' onclick='setModal('+smartphone.id+',"'+smartphone.brand+'","'+smartphone.model+'","'+smartphone.variant+'")') Eliminar
                    
  .modal.fade#deleteModal(data-bs-backdrop='static' data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalTitle" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title#deleteModalTitle Confirmación de eliminación
          button.btn-close(type='button' data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          | ¿Estás seguro que quieres eliminar el teléfono 
          #phoneName.d-inline
          | ?
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss="modal") No
          a.btn.btn-outline-danger.mx-1#deleteButton(href='/admin/smartphones/delete/' role='button') Eliminar
  script(src="/javascripts/listphones.js")
